page-home {}

.small-title{
  font-weight: bold;
  font-size: 1em;
}

.small-metadata{
  color:grey;
  font-size:1em;
  
}

.small-image{
  width: 100%; 
  height:100%;
}

.latest-post {
  margin-bottom: 1em;
  background-color:white;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.metadata {
  // float:right;
  color: grey;
  font-size: 1.25em;
  backgrond-color:white;
}

#logo {
  margin-top: 2px;
  height: 27px;
}

.other-articles{
  background-color:white;
}

hr{
  background-color:white;
}

.white-background {
  background-color:white;
}

.header-title {
  // background-color:color($colors,primary);
  // color:white;
}