<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img id="logo" height="40" src="assets/imgs/amglogo.png"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="grey-background">
    <ion-grid>
        <ion-row>
            <ion-col col-12 class="white-background">
                <div class="title header-title">Blogs</div>
                <br>
                <div class="latest-post" *ngFor="let post of model.blogPosts; let latest=first;">
                    <div *ngIf="latest" (click)="viewPost(post)">
                        <img src="{{post.image_url}}" alt="" style="width: 100%">
                        <div class="title">{{post.title}}</div>
                        <div class="metadata">
                            <span>{{post.author_name}}</span>
                            <span style="float:left">{{post.category_title}}</span>
                                <span style="float:right">{{post.created | date}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
            </ion-col>
        </ion-row>
        <!-- <hr> -->

        <div class="white-background" *ngFor="let post of model.blogPosts; let latest=first;">
            <div *ngIf="!latest" (click)="viewPost(post)">
                <ion-row class="other-articles">
                    <ion-col col-9>
                        <div class="small-title">{{post.title}}</div>
                        <div class="small-metadata">
                            <div>{{post.author_name}}</div>
                            <div>{{post.category_title}} | {{post.created | date}}</div>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <img class="small-image" src="{{post.image_url}}">
                    </ion-col>
                </ion-row>
                <hr>
            </div>
        </div>

        <br>

        <ion-row>
            <ion-col col-12 class="white-background">
                <div class="title">Photography</div>
                <br>
                <div class="latest-post" *ngFor="let photoPost of model.photoPosts; let latestPhoto=first;">
                    <div *ngIf="latestPhoto" (click)="viewPhotoPost(photoPost)">
                        <img src="{{photoPost.image_url}}" style="width: 100%">
                        <div class="title">{{photoPost.title}}</div>
                        <div class="metadata">
                            <span>{{photoPost.author_name}}</span>
                            <span style="float:right">{{photoPost.created | date}}</span>
                        </div>
                    </div>
                </div>
                <hr>
            </ion-col>
        </ion-row>

        <div class="white-background" *ngFor="let photoPost of model.photoPosts; let latestPhoto=first;">
            <div *ngIf="!latestPhoto" (click)="viewPhotoPost(photoPost)">
                <ion-row class="other-articles">
                    <ion-col col-9>
                        <div class="small-title">{{photoPost.title}}</div>
                        <div class="small-metadata">
                            <div>{{photoPost.author_name}}</div>
                            <div>{{photoPost.created | date}}</div>
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <img class="small-image" src="{{photoPost.image_url}}">
                    </ion-col>
                </ion-row>
                <hr>
            </div>
        </div>

        <br>
        <ion-row>
            <ion-col col-12 class="white-background">
                <div class="title">Magazines</div>
                <br>
                <div class="latest-post" *ngFor="let issue of model.issues; let latestIssue=first;">
                    <div *ngIf="latestIssue" (click)="viewIssue(issue)">
                        <img src="{{issue.image_url}}" alt="" style="width: 100%">
                        <!-- <div class="title">{{issue.title}}</div> -->
                    </div>
                </div>
                <hr>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
