page-home {}

.small-title{
  font-weight: bold;
  font-size: 1em;
}

.small-metadata{
  color:grey;
  font-size:1em;
}

.small-image{
  width: 100%; 
  height:100%;
}

.latest-post {
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
}

.metadata {
  // float:right;
  color: grey;
  font-size: 1.25em;
}

#logo {
  margin-top: 2px;
  height: 27px;
}
